#interact {
    padding: 1rem;
    background: #0096FF;
    color: aliceblue;
    width: 100%;
}

#interact-txt{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

#typetext {
    text-align: justify;
    font-size: 1.5rem;
    background-color: rgb(160, 207, 221);
    color: rgb(29, 41, 41);
    width: 90%;
    max-width: 90%;
    border-radius: 1rem;
    min-height: 8rem;
    height: auto;
    padding: 1rem;
    margin: auto;
}

#typetext:hover {
    background-color: rgb(193, 218, 228);
}

#typetext-active {
    text-align: justify;
    font-size: 1.5rem;
    background-color: rgb(193, 218, 228);
    color: rgb(29, 41, 41);
    width: 90%;
    max-width: 90%;
    border-radius: 1rem;
    min-height: 8rem;
    height: auto;
    padding: 1rem;
    margin: auto;
}

#livescore{
    font-size: 3rem;
}

#livescore-result{
    font-size: 5rem;
}

#timer{
    font-size: 1.2rem;
}

#again-hide{
    display:none;
}

#again{
    background: aliceblue;
    color:#0096FF;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 20%;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}

.correct {
    background-color: rgb(76, 224, 121);
}

.error {
    background-color: rgb(236, 53, 53);
    text-decoration: underline;
}

.blinker {
    height: 2rem;
    margin-bottom: -.5rem;
    width: 2px;
    background: rgb(29, 41, 41);
    opacity: 0;
    display: inline-block;
    animation: blink .5s step-start infinite alternate;
}

.blinker p{
    display:inline;
}

@keyframes blink {
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.hide {
    display: none;
}