<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>BrainThreesers</title>
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <ul class="nav">
            <li class="nav-object"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
            <li class="nav-object"><a class="nav-link" href="{{url_for('settings')}}">Settings</a></li>
            <li class="nav-object"><a class="nav-link" a href = "{{url_for('login')}}"> Login </a></li>
            <li class="nav-object"><a class="nav-link" a href = "{{url_for('register')}}"> Sign Up </a></li>
        </ul>
    </div>

    <!-- header -->
    <div class="header">
        <h1 class="header-text">BrainThreesers</h1>
        <p class="header-statement">Test your cognitive abilities</p>
    </div>
    
    <!-- games -->
     <div class="games">
        <div class="game-button">
            <a class="game-link" href="{{url_for('typing_test')}}">Typing Test</a>
        </div>

        <div class="game-button">
            <a class="game-link" href="{{url_for('word_guesser')}}">Word Guesser</a>
        </div>

        <div class="game-button">
            <a class="game-link" href="{{url_for('reaction_speed')}}">Reaction Speed</a>
        </div>
     </div>
    <!-- <a href = "{{url_for('logout')}}" style="text-decoration: none;"> Logout </a> -->
</body>
</html>
