<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>Reaction Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="../static/js/reaction_script.js" defer></script>
</head>
<body>
    <div id="main">
        <div id="desc">
            <h1>{{gameName}}</h1>
            <h2> Test your reaction time! </h2>
            <p> When the screen turns green, click as fast as you can! </p>
        </div>
        <div id="interact" style="cursor: pointer;">
            <div id="interact-txt">
                <p id="gametext">CLICK HERE TO START</p>
            </div>
        </div>
        <div id="score">
            <p> Score: <div id="scoretxt"></div><p>
            <p> High Score: <div id="topscore"></div><p>
        </div>
    </div>

</body>
</html>
