<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Register</title>
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <ul class="nav">
            <li class="nav-object"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
            <li class="nav-object"><a class="nav-link" href="{{url_for('settings')}}">Settings</a></li>
            <li class="nav-object"><a class="nav-link" a href = "{{url_for('login')}}"> Login </a></li>
            <li class="nav-object"><a class="nav-link" a href = "{{url_for('register')}}"> Sign Up </a></li>
        </ul>
    </div>
        
    <form class="register-form" action = "/register" method="POST">
        <h1 class="reg-header">Register</h1>
        <input class="reg-input" type="text" name="username" placeholder="Username" autocomplete="off" required>
        <input class="reg-input" type="password" name="password" placeholder="Password" autocomplete="off" required>
        <input class="reg-input" type="password" name="password1" placeholder="Confirm Password" autocomplete="off" required>
        <input class="reg-button" type="submit" value="Register">
    </form>

</body>
</html>
