<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>Typing Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/type_script.js" defer></script>
</head>
<body>
    <div id="main">
        <div id="desc">
            <h1>{{gameName}}</h1>
            <h2> Test your reaction time! <h2>
            <p> When the screen turns green, click as fast as you can! </p>
        </div>
        <div id="interact">
            <p id="livescore"> WPM </p>
            <p id="typetext">quote here</p>
            <p id="timer"> 0 </p>
        </div>
        <div id="score">
            <p> Score: <div id="scoretxt"></div><p>
            <p> High Score: <div id="topscore"></div><p>
        </div>
    </div>
    
</body>
</html>
