<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>Typing Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/type_script.js" defer></script>
</head>
<body>
    <div id="main">
        <div id="desc">
            <h1>{{gameName}}</h1>
            <h2> Type as fast as you can! </h2>
            <p> Click on the box and the timer will begin as soon as you start typing! </p>
        </div>
        <div id="interact">
            <div id="interact-txt">
                <p id="livescore"> WPM </p>
                <p id="typetext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <p id="timer"> The timer starts when you start typing! </p>
            </div>
        </div>
        <div id="score">
            <p> Score: <div id="scoretxt"></div><p>
            <p> High Score: <div id="topscore"></div><p>
        </div>
    </div>

</body>
</html>
