<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <title>Word Guesser</title>
</head>
<body>
    <h1>{{gameName}}</h1>
    <p> GAME DESC <p>
    <ul>
        <div id="individual">
        <li>
            <a id="definition"> {{ definition }} </a> <br> <!-- Link and Title-->
            <p id="word">{{ word }}</p><br> <!-- Content -->
            <p id="syn_list">{{ syn_list}} </p><br>
        </li>
            <br>
        </div>
    </ul>
</body>
</html>
